<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./layouts/head'); %>
</head>

<body>

    <header class="bg-white">
        <%- include('./layouts/header'); %>
    </header>
    <main>
        <section class="bg-gray-900 text-white">
            <div class="ml-4">
                <%- include('planes/index', { planes: planes }); %>
            </div>
        </section>
    </main>
</body>

</html>